<section>
    <header>
        <script src="{{ asset('bundles/acmesyliusexampleplugin/greeting.js') }}"></script>
    </header>
    <article>
        <div id="greeting" data-greeting="{{ greeting }}">Loading...</div>
    </article>
</section>
